<!-- Renovation Gallery -->
<section id="renovation-details" class="py-5 bg-light-custom">
  <div class="container py-4">
    <div class="row mb-5 justify-content-between align-items-end">
      <div class="col-md-8">
        <h2>Renovation Underway</h2>
        <p class="text-muted mb-0">Priceless lessons, memories, and the work in progress.</p>
      </div>
      <!-- <div class="col-md-4 text-md-end mt-3 mt-md-0">
        <button class="btn btn-outline-dark rounded-pill">View All Gallery</button>
      </div> -->
    </div>

    <div class="row g-3">
      <div class="col-md-4 col-sm-6">
        <div class="gallery-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalRoof">
          <img src="{{'/assets/img/construction/roof_repairs (2).jpg' | relative_url}}" alt="Roof Work" />
          <div class="gallery-caption">Roof Restoration</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="gallery-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalMaterials">
          <img src="{{'/assets/img/construction/materials.jpeg' | relative_url}}" alt="Students" />
          <div class="gallery-caption">Material Procurement</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="gallery-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="">
          <img src="https://placehold.co/600x400/95B9B4/ffffff?text=More+to+come" alt="Students" />
          <div class="gallery-caption">With your support</div>
        </div>
      </div>
      <!-- <div class="col-md-4 col-sm-6">
        <div class="gallery-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalLibrary">
          <img src="https://placehold.co/600x400/002B53/ffffff?text=Library+Planning" alt="Library" />
          <div class="gallery-caption">New Library Layout</div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="gallery-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalLab">
          <img src="https://placehold.co/800x400/0D9547/ffffff?text=Science+Lab+Upgrades" alt="Science Lab" />
          <div class="gallery-caption">Upgrading the Science Laboratory</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="gallery-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalSports">
          <img src="https://placehold.co/600x400/E8F0E8/002b53?text=Playground" alt="Playground" />
          <div class="gallery-caption">Playground Maintenance</div>
        </div>
      </div> -->
    </div>
  </div>
</section>